Node-Red/DASHBOARD.json
[
    {
        "id": "98c3ce0bb5f2b157",
        "type": "tab",
        "label": "II7-ESPNOW",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6c51f467321d6b4",
        "type": "mqtt in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "topic": "II7/SensoresPlazas/EstadoPlazas",
        "qos": "2",
        "datatype": "auto",
        "broker": "dbdec0508173add5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "69d6aded7b158795"
            ]
        ]
    },
    {
        "id": "e73cb4ed590c082b",
        "type": "ui_slider",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "label": "Frec_FOTA",
        "tooltip": "",
        "group": "264336e14127e811",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10000",
        "max": "50000",
        "step": "5000",
        "className": "",
        "x": 250,
        "y": 1960,
        "wires": [
            [
                "9c3f221a7a571619"
            ]
        ]
    },
    {
        "id": "911b5cbac9a8df6d",
        "type": "ui_slider",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "label": "Tiempo_Escucha",
        "tooltip": "",
        "group": "aa1d1ec0bfdf9014",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10000",
        "max": "50000",
        "step": "5000",
        "className": "",
        "x": 270,
        "y": 2040,
        "wires": [
            [
                "ccb188916422ef99"
            ]
        ]
    },
    {
        "id": "7c5fdd4d13025bd0",
        "type": "ui_led",
        "z": "98c3ce0bb5f2b157",
        "order": 2,
        "group": "3cebbf1a9719e92c",
        "width": 0,
        "height": 0,
        "label": "PLAZA OCUPADA",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#808080",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1410,
        "y": 540,
        "wires": []
    },
    {
        "id": "9a60c853a811fd5e",
        "type": "ui_gauge",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "9b8b8e9de3adfd24",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "RH",
        "format": "{{value}}",
        "min": "20",
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1420,
        "y": 380,
        "wires": []
    },
    {
        "id": "5086af8e09651cd3",
        "type": "ui_gauge",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "e4977db5da3f7d79",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1430,
        "y": 280,
        "wires": []
    },
    {
        "id": "faea4275535b78b7",
        "type": "ui_chart",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "e4977db5da3f7d79",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1430,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c7ed73fb80b6630b",
        "type": "ui_chart",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "9b8b8e9de3adfd24",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1420,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a298879fa46c4e1a",
        "type": "change",
        "z": "98c3ce0bb5f2b157",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].DHT11.Temperatura",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 300,
        "wires": [
            [
                "5086af8e09651cd3",
                "faea4275535b78b7"
            ]
        ]
    },
    {
        "id": "85b7e98b88e03646",
        "type": "change",
        "z": "98c3ce0bb5f2b157",
        "name": "Humedad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].DHT11.Humedad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 400,
        "wires": [
            [
                "9a60c853a811fd5e",
                "c7ed73fb80b6630b"
            ]
        ]
    },
    {
        "id": "21e15719086f7b8e",
        "type": "change",
        "z": "98c3ce0bb5f2b157",
        "name": "Ocupado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].Ocupado",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 540,
        "wires": [
            [
                "7c5fdd4d13025bd0"
            ]
        ]
    },
    {
        "id": "0cf29be6f33fadde",
        "type": "debug",
        "z": "98c3ce0bb5f2b157",
        "name": "Publicación",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 2300,
        "wires": []
    },
    {
        "id": "2d08d5ae47be55b2",
        "type": "change",
        "z": "98c3ce0bb5f2b157",
        "name": "NumPlaza",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].NumPlaza",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 480,
        "wires": [
            [
                "487c1eb74aa5579e"
            ]
        ]
    },
    {
        "id": "487c1eb74aa5579e",
        "type": "ui_text",
        "z": "98c3ce0bb5f2b157",
        "group": "3cebbf1a9719e92c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Número de Plaza:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 480,
        "wires": []
    },
    {
        "id": "fd592e52d8c4a0eb",
        "type": "json",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 2000,
        "wires": [
            [
                "0cf29be6f33fadde",
                "a194bb5e9e141603",
                "d40c4946a844e80e",
                "66b6f620e0653b61"
            ]
        ]
    },
    {
        "id": "ccff96c8b951150d",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.payload = JSON.stringify({Frec_FOTA:  msg.frecFota, Tiempo_Escucha: msg.tEscucha});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2000,
        "wires": [
            [
                "fd592e52d8c4a0eb"
            ]
        ]
    },
    {
        "id": "ccb188916422ef99",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.tEscucha = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2040,
        "wires": [
            [
                "ccff96c8b951150d"
            ]
        ]
    },
    {
        "id": "9c3f221a7a571619",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.frecFota = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1960,
        "wires": [
            [
                "ccff96c8b951150d"
            ]
        ]
    },
    {
        "id": "46746dd2d3e75d6f",
        "type": "comment",
        "z": "98c3ce0bb5f2b157",
        "name": "Representación de datos de la plaza en Dashboard",
        "info": "",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "48a6d58d2e4e3cb4",
        "type": "comment",
        "z": "98c3ce0bb5f2b157",
        "name": "Se publican parámetros de la configuración de la placa elegidos por el usuario en el dashboard",
        "info": "",
        "x": 380,
        "y": 1880,
        "wires": []
    },
    {
        "id": "751abecbcf84599b",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.sort = {\"date\": -1}; // Ordena en orden descendente de más actual a menos\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 600,
        "wires": [
            [
                "c5c7e61056be07e7"
            ]
        ]
    },
    {
        "id": "9a4f26c4ed058b59",
        "type": "template",
        "z": "98c3ce0bb5f2b157",
        "name": "Lista en formato html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " <h1>Registros: </h1>\n <ul>\n{{#payload}}\n  <li>{{date}} : Temperatura: {{DHT11.Temperatura }}ºC, Humedad: {{DHT11.Humedad}}%, NumPlaza: {{NumPlaza}}, Ocupado: {{Ocupado}}  </li>\n{{/payload}}\n </ul>\n ",
        "output": "str",
        "x": 1120,
        "y": 600,
        "wires": [
            [
                "c91825e3991eefe4"
            ]
        ]
    },
    {
        "id": "c91825e3991eefe4",
        "type": "ui_template",
        "z": "98c3ce0bb5f2b157",
        "group": "3a9317165f2347fd",
        "name": "Datos Últimos Registros",
        "order": 1,
        "width": "6",
        "height": "9",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1470,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "27caaac5621be831",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.sort = {\"date\": -1}; // Ordena en orden descendente de más actual a menos\nmsg.limit = 1; // Limita la consulta a un objeto\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "b199ec6f76b833c4"
            ]
        ]
    },
    {
        "id": "235ba9ea3a08a7dd",
        "type": "template",
        "z": "98c3ce0bb5f2b157",
        "name": "Lista en formato html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " <h1>Último Registro: </h1>\n <ul>\n{{#payload}}\n  <li>{{date}} : Temperatura: {{DHT11.Temperatura }}ºC, Humedad: {{DHT11.Humedad}}%, NumPlaza: {{NumPlaza}}, Ocupado: {{Ocupado}}  </li>\n{{/payload}}\n </ul>\n ",
        "output": "str",
        "x": 1240,
        "y": 220,
        "wires": [
            [
                "2012fcfe9ae3fec0"
            ]
        ]
    },
    {
        "id": "2012fcfe9ae3fec0",
        "type": "ui_template",
        "z": "98c3ce0bb5f2b157",
        "group": "3bd19c569817da70",
        "name": "Datos Último Registro",
        "order": 2,
        "width": "6",
        "height": "9",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1460,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c5c7e61056be07e7",
        "type": "mongodb in",
        "z": "98c3ce0bb5f2b157",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "find",
        "x": 780,
        "y": 600,
        "wires": [
            [
                "9a4f26c4ed058b59"
            ]
        ]
    },
    {
        "id": "b199ec6f76b833c4",
        "type": "mongodb in",
        "z": "98c3ce0bb5f2b157",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "find",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "05553d6a6bc7b23f",
                "f43219eb43c136df"
            ]
        ]
    },
    {
        "id": "69d6aded7b158795",
        "type": "link out",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "links": [
            "b088120f683c8f36",
            "fc9f4f5ffefface2",
            "6cf261c3842053bb"
        ],
        "x": 295,
        "y": 440,
        "wires": []
    },
    {
        "id": "fc9f4f5ffefface2",
        "type": "link in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "links": [
            "69d6aded7b158795"
        ],
        "x": 355,
        "y": 600,
        "wires": [
            [
                "751abecbcf84599b"
            ]
        ]
    },
    {
        "id": "6cf261c3842053bb",
        "type": "link in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "links": [
            "69d6aded7b158795"
        ],
        "x": 335,
        "y": 220,
        "wires": [
            [
                "27caaac5621be831"
            ]
        ]
    },
    {
        "id": "a8d67c3841580fda",
        "type": "mongodb in",
        "z": "98c3ce0bb5f2b157",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "find",
        "x": 780,
        "y": 740,
        "wires": [
            [
                "d3204cea844ac39d",
                "975086b99d82f5ee"
            ]
        ]
    },
    {
        "id": "a6733bf4740f55ec",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "filtrado 24h",
        "func": "var ms_per_horas = 3600000; \n// obtiene el timestamp actual\nvar now_ms = new Date().getTime();\n// crear objeto fecha con la hora de hace un dia\nvar dayago = new Date(now_ms-24*ms_per_horas);\n\n\n// seleccionar con fecha posterior o igual a hace un día\nmsg.payload = {\"date\": {\"$gte\": dayago}};\nmsg.sort = {\"date\":1}; // ordenar por fecha\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 680,
        "wires": [
            [
                "a8d67c3841580fda",
                "0c9c6554f1cade53"
            ]
        ]
    },
    {
        "id": "fce9be54f223fc90",
        "type": "ui_template",
        "z": "98c3ce0bb5f2b157",
        "group": "8f01ab2d282de717",
        "name": "Datos Registros Filtrados",
        "order": 2,
        "width": "6",
        "height": "9",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1470,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d3204cea844ac39d",
        "type": "template",
        "z": "98c3ce0bb5f2b157",
        "name": "Lista en formato html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " <h1>Registros Filtrados: </h1>\n <ul>\n{{#payload}}\n  <li>{{date}} : Temperatura: {{DHT11.Temperatura }}ºC, Humedad: {{DHT11.Humedad}}%, NumPlaza: {{NumPlaza}}, Ocupado: {{Ocupado}}  </li>\n{{/payload}}\n </ul>\n ",
        "output": "str",
        "x": 1120,
        "y": 740,
        "wires": [
            [
                "fce9be54f223fc90"
            ]
        ]
    },
    {
        "id": "24bb7ce1f6af0e96",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "filtrado Semana",
        "func": "var ms_per_week = 604800000;\n// obtiene el timestamp actual\nvar now_ms = new Date().getTime();\n// crea objeto fecha con la hora de hace una semana\nvar weekago = new Date(now_ms-ms_per_week);\n\n// seleccionar con fecha posterior o igual a hace una semana\nmsg.payload = {\"date\": {\"$gte\": weekago}};\nmsg.sort = {\"date\":1}; // ordenar por fecha\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "a8d67c3841580fda",
                "161aeea910148522"
            ]
        ]
    },
    {
        "id": "2f57e83255933efc",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "filtrado Mes",
        "func": "var ms_per_month = 2629750000;\n// obtiene el timestamp actual\nvar now_ms = new Date().getTime();\n// crea objeto fecha con la hora de hace un mes\nvar monthago = new Date(now_ms-ms_per_month);\n\n// seleccionar con fecha posterior o igual a hace un mes\nmsg.payload = {\"date\": {\"$gte\": monthago}};\nmsg.sort = {\"date\":1}; // ordenar por fecha\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 800,
        "wires": [
            [
                "a8d67c3841580fda",
                "1cd387918c34a1f6"
            ]
        ]
    },
    {
        "id": "3f481245a33df1a9",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "8f01ab2d282de717",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "24h",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "a6733bf4740f55ec"
            ]
        ]
    },
    {
        "id": "c6bf81d9b6f0e6fd",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "8f01ab2d282de717",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Semana",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 740,
        "wires": [
            [
                "24bb7ce1f6af0e96"
            ]
        ]
    },
    {
        "id": "0a41784983cff56f",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "8f01ab2d282de717",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 800,
        "wires": [
            [
                "2f57e83255933efc"
            ]
        ]
    },
    {
        "id": "05553d6a6bc7b23f",
        "type": "link out",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "links": [
            "9d48556ebbac1a85",
            "05039190f36b47b7",
            "1f8ce48cbfdfc856",
            "5850c48dcec9aa7b",
            "fa87987893ffdd36"
        ],
        "x": 995,
        "y": 220,
        "wires": []
    },
    {
        "id": "9d48556ebbac1a85",
        "type": "link in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "links": [
            "05553d6a6bc7b23f",
            "c5e0bab77efb39be"
        ],
        "x": 1095,
        "y": 220,
        "wires": [
            [
                "235ba9ea3a08a7dd"
            ]
        ]
    },
    {
        "id": "05039190f36b47b7",
        "type": "link in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "links": [
            "05553d6a6bc7b23f",
            "c5e0bab77efb39be"
        ],
        "x": 1095,
        "y": 540,
        "wires": [
            [
                "21e15719086f7b8e"
            ]
        ]
    },
    {
        "id": "1f8ce48cbfdfc856",
        "type": "link in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "links": [
            "05553d6a6bc7b23f",
            "c5e0bab77efb39be"
        ],
        "x": 1095,
        "y": 480,
        "wires": [
            [
                "2d08d5ae47be55b2"
            ]
        ]
    },
    {
        "id": "5850c48dcec9aa7b",
        "type": "link in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "links": [
            "05553d6a6bc7b23f",
            "c5e0bab77efb39be"
        ],
        "x": 1095,
        "y": 400,
        "wires": [
            [
                "85b7e98b88e03646"
            ]
        ]
    },
    {
        "id": "fa87987893ffdd36",
        "type": "link in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "links": [
            "05553d6a6bc7b23f",
            "c5e0bab77efb39be"
        ],
        "x": 1095,
        "y": 300,
        "wires": [
            [
                "a298879fa46c4e1a"
            ]
        ]
    },
    {
        "id": "f43219eb43c136df",
        "type": "debug",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "a5d41b1417084ad5",
        "type": "inject",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "27caaac5621be831",
                "751abecbcf84599b"
            ]
        ]
    },
    {
        "id": "b893dc101ecfdbe3",
        "type": "http response",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Disposition": "attachment; filename=registros.csv"
        },
        "x": 1290,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f00a0e2b988b1d7b",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "Unicode y separador",
        "func": "//add Unicode BOM character (byte order mark) to make EXCEL knows this is UTF-8\nif(global.get(\"separador_decimal\")==\"punto\")\n{\n    msg.payload='\\ufeff'+msg.payload;\n\n}\nelse\n{\n    msg.payload='\\ufeff'+(msg.payload).replace(/\\./g,\",\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1075.9998626708984,
        "y": 1362.9999866485596,
        "wires": [
            [
                "b893dc101ecfdbe3"
            ]
        ]
    },
    {
        "id": "34562be1ee772511",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "consulta",
        "func": "// fecha por defecto es hoy\nvar ahora = new Date();\n// pillo los globales si los hay, si no la fecha de hoy\nvar desde = new Date(global.get(\"desde\") || ahora);\nvar hasta = new Date(global.get(\"hasta\") || ahora); \n// el día de inicio desde las cero horas\nvar inicio = new Date(desde.getFullYear(),desde.getMonth(),desde.getDate(),0,0,0,0);\n// el día final es hasta final del día\nvar final = new Date(hasta.getFullYear(),hasta.getMonth(),hasta.getDate(),23,59,59,999);\n\nmsg.payload=\n[\n    { \"$match\": { \"date\": { \"$gte\": inicio , \"$lte\": final } } },\n    { \"$project\": {\n        \"_id\": 0,\n        \"date\": 1,\n        \"Temperatura\": \"$DHT11.Temperatura\",\n        \"Humedad\": \"$DHT11.Humedad\",\n        \"NumPlaza\": \"$NumPlaza\",\n        \"Ocupado\" : \"$Ocupado\"\n        }\n    },\n    { \"$sort\": {\"date\": 1} }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1360,
        "wires": [
            [
                "355c8709db28ca45"
            ]
        ]
    },
    {
        "id": "5801e1979c2fc08e",
        "type": "http in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "url": "/registros",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 191,
        "y": 1362.9999866485596,
        "wires": [
            [
                "34562be1ee772511"
            ]
        ]
    },
    {
        "id": "6b35227aee621d42",
        "type": "ui_template",
        "z": "98c3ce0bb5f2b157",
        "group": "0e650c3d27546fe5",
        "name": "",
        "order": 3,
        "width": "0",
        "height": "0",
        "format": "<style>\n.button {\n    text-align: center;\n    font: bold 17px Arial;\n    text-decoration: none;\n    background-color: #339966;\n    color: white;\n    padding: 8px 10px;\n    border: 2px solid #CCCCCC;\n  }\n  \n  .button:hover\n  {\n   background-color: #26734d;\n  }\n\n</style>\n<a href=\"/registros\" class=\"button\">Descarga registros en CSV (EXCEL)</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "0b9d14e55ff238ca",
        "type": "csv",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "sep": ";",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "date, Temperatura, Humedad, Ocupado,  NumPlaza",
        "skip": 0,
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 895.0000076293945,
        "y": 1362.999963760376,
        "wires": [
            [
                "f00a0e2b988b1d7b"
            ]
        ]
    },
    {
        "id": "f3fa455afff22c3c",
        "type": "ui_switch",
        "z": "98c3ce0bb5f2b157",
        "name": "separdor decimal",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "0e650c3d27546fe5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 270,
        "y": 1820,
        "wires": [
            [
                "5d77f5220c41a693"
            ]
        ]
    },
    {
        "id": "017afb7d0ae3ea67",
        "type": "inject",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 257.00002670288086,
        "y": 1730.8889408111572,
        "wires": [
            [
                "5d77f5220c41a693"
            ]
        ]
    },
    {
        "id": "5d77f5220c41a693",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "set global separador_decimal",
        "func": "if(msg.payload===true)\n{\n    global.set(\"separador_decimal\",\"coma\");\n    msg.topic=\"separador decimal = coma\";\n}\nelse\n{\n    global.set(\"separador_decimal\",\"punto\");\n    msg.topic=\"separador decimal = punto\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 585.0114135742188,
        "y": 1731.5963134765625,
        "wires": [
            [
                "f3fa455afff22c3c"
            ]
        ]
    },
    {
        "id": "d4fb7bdce852478d",
        "type": "ui_date_picker",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "label": "Fecha inicio",
        "group": "0e650c3d27546fe5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 413.7812728881836,
        "y": 1558.7330231666565,
        "wires": [
            [
                "5a8e4ea662b833b8"
            ]
        ]
    },
    {
        "id": "ed1e81d21f77d933",
        "type": "ui_date_picker",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "label": "Fecha final",
        "group": "0e650c3d27546fe5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 416.7926254272461,
        "y": 1607.7272605895996,
        "wires": [
            [
                "426ddc5d09dcc917"
            ]
        ]
    },
    {
        "id": "5a8e4ea662b833b8",
        "type": "change",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "desde",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 609.7869491577148,
        "y": 1557.394910812378,
        "wires": [
            []
        ]
    },
    {
        "id": "426ddc5d09dcc917",
        "type": "change",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hasta",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 613.0142288208008,
        "y": 1608.278465270996,
        "wires": [
            []
        ]
    },
    {
        "id": "060dd49c96b60f4c",
        "type": "inject",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 215.7897720336914,
        "y": 1583.1534633636475,
        "wires": [
            [
                "d4fb7bdce852478d",
                "ed1e81d21f77d933"
            ]
        ]
    },
    {
        "id": "63f6dc42661686fa",
        "type": "comment",
        "z": "98c3ce0bb5f2b157",
        "name": "Controles para seleccionar fechas",
        "info": "",
        "x": 272.7897605895996,
        "y": 1486.630747795105,
        "wires": []
    },
    {
        "id": "3310f4bf14536b88",
        "type": "comment",
        "z": "98c3ce0bb5f2b157",
        "name": "Botón en HTML para lanzar descarga de fichero",
        "info": "",
        "x": 319.78977966308594,
        "y": 1207.0822734832764,
        "wires": []
    },
    {
        "id": "071de2c3987a680a",
        "type": "comment",
        "z": "98c3ce0bb5f2b157",
        "name": "Flujo para descarga de fichero",
        "info": "",
        "x": 262.0142059326172,
        "y": 1305.0056400299072,
        "wires": []
    },
    {
        "id": "e0628571b5277e1e",
        "type": "comment",
        "z": "98c3ce0bb5f2b157",
        "name": "Selector de separador decimal",
        "info": "",
        "x": 269.0141906738281,
        "y": 1670.5510654449463,
        "wires": []
    },
    {
        "id": "355c8709db28ca45",
        "type": "mongodb in",
        "z": "98c3ce0bb5f2b157",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "aggregate",
        "x": 640,
        "y": 1360,
        "wires": [
            [
                "0b9d14e55ff238ca"
            ]
        ]
    },
    {
        "id": "92df17115a943e44",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "3065d767bf05f5b5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SUBIR BARRERA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 920,
        "wires": [
            [
                "c862619112658269"
            ]
        ]
    },
    {
        "id": "976fcee6c496fd8f",
        "type": "mqtt out",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "topic": "II7/Entrada/BarreraCMD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dbdec0508173add5",
        "x": 870,
        "y": 940,
        "wires": []
    },
    {
        "id": "528623dbe371d0e5",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "3065d767bf05f5b5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "BAJAR BARRERA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 980,
        "wires": [
            [
                "a5e00d8adebed1bf"
            ]
        ]
    },
    {
        "id": "c862619112658269",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "SUBIR",
        "func": "msg.payload = {}\nmsg.payload.comando= \"subir\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 920,
        "wires": [
            [
                "976fcee6c496fd8f"
            ]
        ]
    },
    {
        "id": "a5e00d8adebed1bf",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "BAJAR",
        "func": "msg.payload = {}\nmsg.payload.comando= \"bajar\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 980,
        "wires": [
            [
                "976fcee6c496fd8f"
            ]
        ]
    },
    {
        "id": "eb57529b7f6a87fd",
        "type": "mqtt in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "topic": "II7/Entrada/BarreraEstado",
        "qos": "2",
        "datatype": "auto",
        "broker": "dbdec0508173add5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "eab69f326c8641d7"
            ]
        ]
    },
    {
        "id": "0369d3effe4e1943",
        "type": "ui_ui_control",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "events": "change",
        "x": 2300,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "4571ac86552b4305",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "0960d7a0c6e6d08f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ENTRADA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1830,
        "y": 1060,
        "wires": [
            [
                "1c0bc59b78095b76"
            ]
        ]
    },
    {
        "id": "1c0bc59b78095b76",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.payload = {\"tab\":\"Entrada\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1060,
        "wires": [
            [
                "0369d3effe4e1943"
            ]
        ]
    },
    {
        "id": "074966b389d78496",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "var estado = msg.payload[0].payload.estado;\n\nmsg.payload = {};\nif (estado == \"bajado\")\n    msg.payload= {\n        \"category\": \"BARRERABAJADA\", \n        \"name\": \"photo6026011293393205026.jpg\"\n    };\nelse \n    msg.payload= {\n        \"category\": \"BARRERASUBIDA\", \n        \"name\": \"photo6026011293393205025.jpg\"\n    };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1040,
        "wires": [
            [
                "8098f269de4bdad5",
                "87880d3d3626add9"
            ]
        ]
    },
    {
        "id": "8098f269de4bdad5",
        "type": "ui_media",
        "z": "98c3ce0bb5f2b157",
        "group": "f49b27b85aa2aecc",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 0,
        "category": "BARRERABAJADA",
        "file": "photo6026011293393205026.jpg",
        "layout": "adjust",
        "showcontrols": true,
        "loop": false,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1230,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "e6974b49c129d3af",
        "type": "ui_ui_control",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "events": "change",
        "x": 2300,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "b91c4ea5bfcf2fa4",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "0960d7a0c6e6d08f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "PLAZAS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1820,
        "y": 1120,
        "wires": [
            [
                "d51cb902f2eea31e"
            ]
        ]
    },
    {
        "id": "d51cb902f2eea31e",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.payload = {\"tab\":\"Plazas\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1120,
        "wires": [
            [
                "e6974b49c129d3af"
            ]
        ]
    },
    {
        "id": "837928aaf084f12d",
        "type": "ui_ui_control",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "events": "change",
        "x": 2300,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "9eb973a18fdd1fbc",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "0960d7a0c6e6d08f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "REGISTROS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1830,
        "y": 1180,
        "wires": [
            [
                "70ddb70dc9b83b1d"
            ]
        ]
    },
    {
        "id": "70ddb70dc9b83b1d",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.payload = {\"tab\":\"Registros\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1180,
        "wires": [
            [
                "837928aaf084f12d"
            ]
        ]
    },
    {
        "id": "c9e0055c84c508f5",
        "type": "ui_ui_control",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "events": "change",
        "x": 2300,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "b1119169f71752c0",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "0960d7a0c6e6d08f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CONFIGURACIÓN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1850,
        "y": 1240,
        "wires": [
            [
                "0161992155cfc223"
            ]
        ]
    },
    {
        "id": "0161992155cfc223",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.payload = {\"tab\":\"Configuración\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 1240,
        "wires": [
            [
                "c9e0055c84c508f5"
            ]
        ]
    },
    {
        "id": "04f7461b0df0f6b9",
        "type": "mongodb in",
        "z": "98c3ce0bb5f2b157",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_barrera_entrada",
        "operation": "find",
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "074966b389d78496",
                "b2676d20e69637c6"
            ]
        ]
    },
    {
        "id": "eab69f326c8641d7",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.sort = {\"payload.date\": -1}; // Ordena en orden descendente de más actual a menos\nmsg.limit = 1; // Limita la consulta a un objeto\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "04f7461b0df0f6b9"
            ]
        ]
    },
    {
        "id": "b2676d20e69637c6",
        "type": "debug",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 960,
        "wires": []
    },
    {
        "id": "d8a6329bac6b5668",
        "type": "inject",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "eab69f326c8641d7"
            ]
        ]
    },
    {
        "id": "87880d3d3626add9",
        "type": "debug",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ec94a8dfdae79b45",
        "type": "ui_text",
        "z": "98c3ce0bb5f2b157",
        "group": "25a568d686b7c56c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Matrícula:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2020,
        "y": 1420,
        "wires": []
    },
    {
        "id": "d739fbb073ffbfc0",
        "type": "ui_text",
        "z": "98c3ce0bb5f2b157",
        "group": "25a568d686b7c56c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha de la entrada:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2020,
        "y": 1480,
        "wires": []
    },
    {
        "id": "0410918b753223a7",
        "type": "ui_template",
        "z": "98c3ce0bb5f2b157",
        "group": "25a568d686b7c56c",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<img src=\"/192.168.127.108/capture\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1980,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "292cc3859d54a372",
        "type": "mongodb in",
        "z": "98c3ce0bb5f2b157",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_matriculas_entrada",
        "operation": "find",
        "x": 1500,
        "y": 1480,
        "wires": [
            [
                "1986bb8f5635d0c5",
                "95562af986b2f496",
                "9aee42bf0e9e03bb"
            ]
        ]
    },
    {
        "id": "93af967f6399ed9d",
        "type": "mqtt in",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "topic": "II7/Entrada/BotonPulsado",
        "qos": "2",
        "datatype": "auto",
        "broker": "dbdec0508173add5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 980,
        "y": 1480,
        "wires": [
            [
                "aa16953d0e7f2428"
            ]
        ]
    },
    {
        "id": "aa16953d0e7f2428",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.sort = {\"date\": -1}; // Ordena en orden descendente de más actual a menos\nmsg.limit = 1; // Limita la consulta a un objeto\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 1480,
        "wires": [
            [
                "292cc3859d54a372"
            ]
        ]
    },
    {
        "id": "1986bb8f5635d0c5",
        "type": "debug",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 1660,
        "wires": []
    },
    {
        "id": "8e91b9352cf0810a",
        "type": "inject",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1030,
        "y": 1560,
        "wires": [
            [
                "aa16953d0e7f2428"
            ]
        ]
    },
    {
        "id": "95562af986b2f496",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.payload = msg.payload[0].payload.matricula;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 1420,
        "wires": [
            [
                "ec94a8dfdae79b45"
            ]
        ]
    },
    {
        "id": "9aee42bf0e9e03bb",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.payload = msg.payload[0].payload.date;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 1480,
        "wires": [
            [
                "d739fbb073ffbfc0"
            ]
        ]
    },
    {
        "id": "729f2a2509c240b1",
        "type": "ui_ui_control",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "events": "change",
        "x": 2360,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "4ce3be3bebb3399c",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "c9f2a6c2d76e40b6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "VUELTA AL MENÚ PRINCIPAL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1890,
        "y": 880,
        "wires": [
            [
                "5897131a7fd22067"
            ]
        ]
    },
    {
        "id": "5897131a7fd22067",
        "type": "function",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "func": "msg.payload = {\"tab\":\"Parking\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 940,
        "wires": [
            [
                "729f2a2509c240b1"
            ]
        ]
    },
    {
        "id": "52fdf4653991029f",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "68344837084a0c01",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "VUELTA AL MENÚ PRINCIPAL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1890,
        "y": 920,
        "wires": [
            [
                "5897131a7fd22067"
            ]
        ]
    },
    {
        "id": "da968a1c60e785f8",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "c90548166402c440",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "VUELTA AL MENÚ PRINCIPAL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1890,
        "y": 960,
        "wires": [
            [
                "5897131a7fd22067"
            ]
        ]
    },
    {
        "id": "ee14aa8c792e8ab1",
        "type": "ui_button",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "group": "55fba5c46f4f4433",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "VUELTA AL MENÚ PRINCIPAL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1890,
        "y": 1000,
        "wires": [
            [
                "5897131a7fd22067"
            ]
        ]
    },
    {
        "id": "975086b99d82f5ee",
        "type": "debug",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 800,
        "wires": []
    },
    {
        "id": "1cd387918c34a1f6",
        "type": "debug",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 840,
        "wires": []
    },
    {
        "id": "161aeea910148522",
        "type": "debug",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "0c9c6554f1cade53",
        "type": "debug",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "d40c4946a844e80e",
        "type": "mqtt out",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "topic": "II7/SensoresPlazas/config",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dbdec0508173add5",
        "x": 1150,
        "y": 2060,
        "wires": []
    },
    {
        "id": "a194bb5e9e141603",
        "type": "mqtt out",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "topic": "II7/Entrada/config",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dbdec0508173add5",
        "x": 1130,
        "y": 2000,
        "wires": []
    },
    {
        "id": "66b6f620e0653b61",
        "type": "mqtt out",
        "z": "98c3ce0bb5f2b157",
        "name": "",
        "topic": "II7/ESP32/config",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dbdec0508173add5",
        "x": 1130,
        "y": 2120,
        "wires": []
    },
    {
        "id": "dbdec0508173add5",
        "type": "mqtt-broker",
        "name": "II7-UMA",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "264336e14127e811",
        "type": "ui_group",
        "name": "Configuración FOTA",
        "tab": "42ee521c54e35ea5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa1d1ec0bfdf9014",
        "type": "ui_group",
        "name": "Tiempo de Escucha",
        "tab": "42ee521c54e35ea5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3cebbf1a9719e92c",
        "type": "ui_group",
        "name": "Estado Plaza",
        "tab": "c23e73087ae2cbd8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b8b8e9de3adfd24",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "c23e73087ae2cbd8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4977db5da3f7d79",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "c23e73087ae2cbd8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a9317165f2347fd",
        "type": "ui_group",
        "name": "Todos Registros",
        "tab": "42ce5df569af2475",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bd19c569817da70",
        "type": "ui_group",
        "name": "Último registro",
        "tab": "42ce5df569af2475",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17e1c16e7a1086e9",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II7",
        "name": "Base de datos proyecto"
    },
    {
        "id": "8f01ab2d282de717",
        "type": "ui_group",
        "name": "Registros Filtrados",
        "tab": "42ce5df569af2475",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e650c3d27546fe5",
        "type": "ui_group",
        "name": "Descarga CSV",
        "tab": "42ce5df569af2475",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3065d767bf05f5b5",
        "type": "ui_group",
        "name": "Control Barrera",
        "tab": "1356825819f1607d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0960d7a0c6e6d08f",
        "type": "ui_group",
        "name": "MENÚ PRINCIPAL",
        "tab": "b51a5fa4c5a24420",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f49b27b85aa2aecc",
        "type": "ui_group",
        "name": "Estado Barrera",
        "tab": "1356825819f1607d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25a568d686b7c56c",
        "type": "ui_group",
        "name": "Última Entrada",
        "tab": "1356825819f1607d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9f2a6c2d76e40b6",
        "type": "ui_group",
        "name": "HOME",
        "tab": "1356825819f1607d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68344837084a0c01",
        "type": "ui_group",
        "name": "HOME",
        "tab": "42ee521c54e35ea5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c90548166402c440",
        "type": "ui_group",
        "name": "HOME",
        "tab": "42ce5df569af2475",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "55fba5c46f4f4433",
        "type": "ui_group",
        "name": "HOME",
        "tab": "c23e73087ae2cbd8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42ee521c54e35ea5",
        "type": "ui_tab",
        "name": "Configuración",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c23e73087ae2cbd8",
        "type": "ui_tab",
        "name": "Plazas",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "42ce5df569af2475",
        "type": "ui_tab",
        "name": "Registros",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1356825819f1607d",
        "type": "ui_tab",
        "name": "Entrada",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b51a5fa4c5a24420",
        "type": "ui_tab",
        "name": "Parking",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": false
    }
]