Node-Red/Telegram_II7.json
[
    {
        "id": "33676dab1b5dbc95",
        "type": "tab",
        "label": "II7--TELEGRAM",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d65b3c82c043d5e",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "f6b3805ec493b8d4",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hola soy el bot del grupo 7 de Informática Industrial. Puedo responderte a estos comandos:\\n/start\\n/ultregsensores\\n/ultentrada\\n/subirbarrera\\n/bajarbarrera\\n/plazasOcupadas\\n/plazasLibres\\n/temp_hum_Parking\\n/frecFOTA\\n/camara_ahora\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "d520dfcb2a99a0fe"
            ]
        ]
    },
    {
        "id": "b9cd46ba811ccbcf",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "ultima entrada",
        "func": "msg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "a4dd2d28c0e3ed42"
            ]
        ]
    },
    {
        "id": "a4dd2d28c0e3ed42",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_matriculas_entrada",
        "operation": "find",
        "x": 680,
        "y": 280,
        "wires": [
            [
                "98ea08c40147b07e",
                "151ce85b831cc28c"
            ]
        ]
    },
    {
        "id": "98ea08c40147b07e",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "mensaje respuesta",
        "func": "var matri=msg.payload[0].payload.matricula;\nvar fecha=msg.payload[0].payload.date;\nmsg.payload = {};\nmsg.payload.chatId=msg.originalMessage.from.id;\nmsg.payload.type = \"message\";\nmsg.payload.content=\"La matrícula del último vehículo es: \"+matri+\".\\n\";\nmsg.payload.content+=\"Hora de llegada: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "e31ac1db62f9f450",
                "7c695195afe7c280"
            ]
        ]
    },
    {
        "id": "d0cd6a4f2217197e",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/ultentrada",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 80,
        "y": 280,
        "wires": [
            [
                "b9cd46ba811ccbcf"
            ],
            []
        ]
    },
    {
        "id": "aad8c56ff74d90d5",
        "type": "telegram receiver",
        "z": "33676dab1b5dbc95",
        "name": "",
        "bot": "aa0e08fb665711b4",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "2d65b3c82c043d5e",
                "f6b3805ec493b8d4"
            ],
            []
        ]
    },
    {
        "id": "e31ac1db62f9f450",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 340,
        "wires": []
    },
    {
        "id": "cc844b9c806fd32e",
        "type": "telegram sender",
        "z": "33676dab1b5dbc95",
        "name": "Proyecto_II7_bot",
        "bot": "aa0e08fb665711b4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2010,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1e39752b0c2c7d43",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "f6b3805ec493b8d4"
            ],
            []
        ]
    },
    {
        "id": "ebddb3b510c808d3",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/subirbarrera",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "8dd3b913771a2853"
            ],
            []
        ]
    },
    {
        "id": "b54cb3b717ca7e0c",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/bajarbarrera",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "1a5277f3749ad485"
            ],
            []
        ]
    },
    {
        "id": "7507b187fc11e5e9",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "-1001612621169",
        "info": "",
        "x": 120,
        "y": 920,
        "wires": []
    },
    {
        "id": "4c4f707d8086af30",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/plazasOcupadas",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "19ec4d6d4f8d2a8e"
            ],
            []
        ]
    },
    {
        "id": "c885a4729c0b8eb8",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/plazasLibres",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 720,
        "wires": [
            [
                "7c8b9f8ae80a330a"
            ],
            []
        ]
    },
    {
        "id": "8a5c34aaa94efa06",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/temp_hum_Parking",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "fc2172b025d8b00e"
            ],
            []
        ]
    },
    {
        "id": "4fc83e1d2378c2be",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/ultregsensores",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "e8d4b3737159d109"
            ],
            []
        ]
    },
    {
        "id": "ad587c3d99ca0122",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "aggregate",
        "x": 700,
        "y": 660,
        "wires": [
            [
                "781d0af347ad600d"
            ]
        ]
    },
    {
        "id": "6fd0b05180b10680",
        "type": "mqtt out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "topic": "II7/Entrada/BarreraCMD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7324406cf4d4e550",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "8dd3b913771a2853",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "SUBIR",
        "func": "msg.payload = {}\nmsg.payload.comando= \"subir\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 460,
        "wires": [
            [
                "6fd0b05180b10680",
                "459ef2b3b67f81f9"
            ]
        ]
    },
    {
        "id": "1a5277f3749ad485",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "BAJAR",
        "func": "msg.payload = {}\nmsg.payload.bajar = \"bajar\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "6fd0b05180b10680",
                "e7562e62052dfa40"
            ]
        ]
    },
    {
        "id": "5c92d13ec9797d94",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "aggregate",
        "x": 700,
        "y": 720,
        "wires": [
            [
                "e81c930c2639f57a",
                "ba6e1bccc2e81604"
            ]
        ]
    },
    {
        "id": "19ec4d6d4f8d2a8e",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Ocupado == TRUE",
        "func": "//msg.payload={\"payload.ocupado\":\"true\"}; // ocupado:\"true\"\n//{ \"$match\": { \"$and\": [ { \"payload.date\": { \"$lt\": ahora, \"$gt\": fiveminsago } }, { \"payload.ocupado\": \"true\" } ] } }\nvar ms_per_min= 60000;\nvar now_ms= new Date().getTime();\nvar fiveminsago = new Date(now_ms - 5*ms_per_min);\nmsg.chatId = msg.payload.chatId;\nmsg.payload=\n[\n    { \"$match\": { \"$and\": [ { \"date\": {\"$gt\" : fiveminsago} }, { \"Ocupado\": true } ] } },\n    { \"$group\": {\n        \"_id\": 0,\n        \"uniqueIds\": {\"$addToSet\": \"$NumPlaza\"},\n        \"numPlazasOcupadas\": {\"$sum\":1}\n    }}\n];\nreturn msg;\n//msg.payload=[\n//    {\"$match\": { \"temperatura\": 19}},\n//    { \"$group\": {\n//        \"_id\": 0,\n//        \"NumPlazasOcupadas\": {\"$sum\":1}\n//    }}\n//];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 660,
        "wires": [
            [
                "ad587c3d99ca0122"
            ]
        ]
    },
    {
        "id": "7c8b9f8ae80a330a",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Ocupado == FALSE",
        "func": "//msg.payload={\"ocupado\":\"false\"}; //ocupado:\"false\" TAMBIEN SACAR EL NUMERO DE CADA PLAZA LIBRE AKA numPlaza\nvar ms_per_min= 60000;\nvar now_ms= new Date().getTime();\nvar fiveminsago = new Date(now_ms - 5*ms_per_min);\nmsg.chatId = msg.payload.chatId;\nmsg.payload=\n[\n    { \"$match\": { \"$and\": [ { \"date\": {\"$gt\" : fiveminsago} }, { \"Ocupado\": false } ] } },\n    { \"$group\": {\n        \"_id\": 0,\n        \"uniqueIds\": {\"$addToSet\": \"$NumPlaza\"},\n        \"numPlazasLibres\": {\"$sum\":1}\n    }}\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 720,
        "wires": [
            [
                "5c92d13ec9797d94"
            ]
        ]
    },
    {
        "id": "fc2172b025d8b00e",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "TEMP",
        "func": "//sacamos temperatura y humedad de todas las plazas y podemos hacer una media incluso\n\nvar ms_per_min= 60000;\nvar now_ms= new Date().getTime();\nvar fiveminsago = new Date(now_ms - 5*ms_per_min);\nmsg.chatId = msg.payload.chatId;\nmsg.payload=\n[\n    { \"$match\": { \"date\": {\"$gt\" : fiveminsago} } },\n    { \"$project\": {\n        \"temperatura\": \"$DHT11.Temperatura\", \n        \"humedad\":\"$DHT11.Humedad\"\n        }\n    },\n    { \"$group\": {\n        \"_id\": 1,\n        \"TempMedia\": {\"$avg\":\"$temperatura\"}, // SE HA INTENTADO REDONDEAR PERO LA OPERACION ROUND SE INTRODUJO EN VERSIONES POSTERIORES DE MONGODB PARA AGREGACIONES\n        \"HumMedia\": {\"$avg\":\"$humedad\"}, \n        \"datos\": {\"$sum\":1}\n    }}\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 800,
        "wires": [
            [
                "a74cc0d466f9e60e"
            ]
        ]
    },
    {
        "id": "a74cc0d466f9e60e",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "aggregate",
        "x": 680,
        "y": 800,
        "wires": [
            [
                "d5c108b6c3589205",
                "77dd4779def526c8"
            ]
        ]
    },
    {
        "id": "e7c7f6fc7621b238",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "",
        "func": "var opts = {\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"10000\",\n                    \"callback_data\": \"10000\"            \n                },\n                {\n                    \"text\": \"15000\",\n                    \"callback_data\": \"15000\"            \n                },\n                {\n                    \"text\": \"20000\",\n                    \"callback_data\": \"20000\"            \n                },\n                {\n                    \"text\": \"30000\",\n                    \"callback_data\": \"30000\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = \"Elige entre las posibles Frecuencias:\";\nmsg.payload.options = opts;\n//msg.payload.chatId = 589861369;// -1001612621169;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 880,
        "wires": [
            [
                "d6fdd4c89c729d11"
            ]
        ]
    },
    {
        "id": "ac4ffdb40b451282",
        "type": "telegram event",
        "z": "33676dab1b5dbc95",
        "name": "",
        "bot": "aa0e08fb665711b4",
        "event": "callback_query",
        "autoanswer": false,
        "x": 160,
        "y": 980,
        "wires": [
            [
                "3ef8e49b919bf436",
                "60dc8372e00bda1b",
                "0a33b65408b06891"
            ]
        ]
    },
    {
        "id": "3ef8e49b919bf436",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 920,
        "wires": []
    },
    {
        "id": "8ffd799cedee6056",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/frecFOTA",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 880,
        "wires": [
            [
                "e7c7f6fc7621b238"
            ],
            []
        ]
    },
    {
        "id": "f8ea4540fa0aeffe",
        "type": "link in",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "d520dfcb2a99a0fe",
            "7c695195afe7c280",
            "b439819f72be576c",
            "8be7614c8989949f",
            "55ab5e40de9ef43c",
            "14392bcb51d7c878",
            "1515d2fc60388ae0",
            "d6fdd4c89c729d11",
            "f89b61b25314a7d1",
            "fe9b65c8780855a3",
            "38283175e42822a0",
            "86799f5915a07852",
            "825ad4fab3e96185"
        ],
        "x": 1835,
        "y": 540,
        "wires": [
            [
                "cc844b9c806fd32e"
            ]
        ]
    },
    {
        "id": "d520dfcb2a99a0fe",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe"
        ],
        "x": 795,
        "y": 160,
        "wires": []
    },
    {
        "id": "7c695195afe7c280",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe",
            "1863d931dacb1b5e"
        ],
        "x": 1215,
        "y": 200,
        "wires": []
    },
    {
        "id": "781d0af347ad600d",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Creamos mensaje",
        "func": "var plazas = msg.payload[0].numPlazasOcupadas;\nmsg.payload={};\nmsg.payload.chatId=msg.chatId;\nmsg.payload.content=\"El número de Plazas Ocupadas en el Parking es de  (\"+plazas+\") plazas.\\nComprobación realizada en el intervalo de los últimos 5 minutos.\\n\";\nmsg.payload.type = \"message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 660,
        "wires": [
            [
                "8be7614c8989949f"
            ]
        ]
    },
    {
        "id": "e81c930c2639f57a",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Creamos mensaje",
        "func": "var plazas = msg.payload[0].numPlazasLibres;\nmsg.payload={};\nmsg.payload.chatId=msg.chatId;\nmsg.payload.content=\"El número de Plazas Libres en el Parking es de  (\"+plazas+\") plazas.\\nComprobación realizada en el intervalo de los últimos 5 minutos.\\n\";\nmsg.payload.type = \"message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "55ab5e40de9ef43c"
            ]
        ]
    },
    {
        "id": "d5c108b6c3589205",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Creamos mensaje",
        "func": "var temp = msg.payload[0].TempMedia;\nvar hum = msg.payload[0].HumMedia;\nmsg.payload={};\nmsg.payload.chatId=msg.chatId;\nmsg.payload.content=\"La temperatura media en el Parking es de  (\"+temp.toFixed(2)+\"ºC) y una humedad relativa del (\"+hum.toFixed(2)+\"%) .\\nComprobación realizada en el intervalo de los últimos 5 minutos.\\n\";\nmsg.payload.type = \"message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 800,
        "wires": [
            [
                "14392bcb51d7c878"
            ]
        ]
    },
    {
        "id": "8be7614c8989949f",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e",
            "f8ea4540fa0aeffe"
        ],
        "x": 1215,
        "y": 660,
        "wires": []
    },
    {
        "id": "55ab5e40de9ef43c",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e",
            "f8ea4540fa0aeffe"
        ],
        "x": 1215,
        "y": 720,
        "wires": []
    },
    {
        "id": "14392bcb51d7c878",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe",
            "1863d931dacb1b5e"
        ],
        "x": 1215,
        "y": 800,
        "wires": []
    },
    {
        "id": "ba6e1bccc2e81604",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "528e178dbbc3e92f",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "Mandamos al flow del dashboard para que publique en el topic  II7/+/config",
        "info": "",
        "x": 400,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e8d4b3737159d109",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "ultimo registro",
        "func": "msg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "7e522488dc2605fc"
            ]
        ]
    },
    {
        "id": "7e522488dc2605fc",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "17e1c16e7a1086e9",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "find",
        "x": 660,
        "y": 360,
        "wires": [
            [
                "449896a5887532e2",
                "c953969a14acd4fb"
            ]
        ]
    },
    {
        "id": "1863d931dacb1b5e",
        "type": "link in",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "8be7614c8989949f",
            "55ab5e40de9ef43c",
            "f89b61b25314a7d1",
            "945f23299531eb2f",
            "14392bcb51d7c878",
            "7c695195afe7c280",
            "38283175e42822a0",
            "86799f5915a07852",
            "825ad4fab3e96185"
        ],
        "x": 1495,
        "y": 640,
        "wires": [
            [
                "60b5a49f7ce0ef93"
            ]
        ]
    },
    {
        "id": "d6fdd4c89c729d11",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe"
        ],
        "x": 495,
        "y": 880,
        "wires": []
    },
    {
        "id": "60dc8372e00bda1b",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [],
        "x": 435,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e3b3123c594d94ad",
        "type": "http request",
        "z": "33676dab1b5dbc95",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.107/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 1120,
        "wires": [
            [
                "8b8dba1ad38ef644"
            ]
        ]
    },
    {
        "id": "8b8dba1ad38ef644",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "",
        "func": "var pl = {\n  content: msg.payload,\n  caption: \"Foto tomada de la entrada de vehículos\",\n  type : 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id : msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1120,
        "wires": [
            [
                "f89b61b25314a7d1"
            ]
        ]
    },
    {
        "id": "f89b61b25314a7d1",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e",
            "f8ea4540fa0aeffe"
        ],
        "x": 655,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0ec0ac0abe359544",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/camara_ahora",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "e3b3123c594d94ad"
            ],
            []
        ]
    },
    {
        "id": "51397c01a1fccf20",
        "type": "link in",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "7c37e8c04f545a4d"
        ],
        "x": 1475,
        "y": 800,
        "wires": [
            [
                "f98a21238a194242"
            ]
        ]
    },
    {
        "id": "a52a67aa05202ab0",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "ESTE LINK PROVIENE JUSTO DESPUES DEL NODO HTTP REQUEST DE LA CAMARA Y ENVÍA LA FOTO POR TELEGRAM AL CANAL DE DIFUSION CADA VEZ QUE LLEGA UN VEHÍCULO",
        "info": "",
        "x": 1980,
        "y": 860,
        "wires": []
    },
    {
        "id": "f9a37976ecf9585e",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "FOTO",
        "func": "var photo = msg.payload;\nvar matri = global.get(\"Matricula\");\nvar fecha = global.get(\"FechaEntrada\")\nmsg.payload = {};\nmsg.payload.content = photo;\nmsg.payload.type = \"photo\";\nmsg.payload.caption = \"Llegada de vehículo a la hora (\"+fecha+\").\\nMatrícula: (\"+matri+\").\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 800,
        "wires": [
            [
                "945f23299531eb2f"
            ]
        ]
    },
    {
        "id": "945f23299531eb2f",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e"
        ],
        "x": 1855,
        "y": 800,
        "wires": []
    },
    {
        "id": "151ce85b831cc28c",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "449896a5887532e2",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "c953969a14acd4fb",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "mensaje respuesta",
        "func": "var Plaza=msg.payload[0].NumPlaza;\nvar Ocupado=msg.payload[0].Ocupado;\nvar temp = msg.payload[0].DHT11.Temperatura;\nvar hum = msg.payload[0].DHT11.Humedad;\nvar fecha = msg.payload[0].date;\nmsg.payload = {};\nmsg.payload.chatId = msg.originalMessage.from.id;\nmsg.payload.type = \"message\";\nmsg.payload.content=\"Último registro del sensor de la plaza número:(\"+Plaza+\").\\n¿Esta plaza se encuentra ocupada? (\"+Ocupado+\").\\nLa temperatura recogida es de (\"+temp+\"ºC) y la humedad relativa es de (\"+hum+\"%).\\n\";\nmsg.payload.content+=\"Hora del registro: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "fe9b65c8780855a3"
            ]
        ]
    },
    {
        "id": "fe9b65c8780855a3",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe"
        ],
        "x": 1175,
        "y": 380,
        "wires": []
    },
    {
        "id": "60b5a49f7ce0ef93",
        "type": "change",
        "z": "33676dab1b5dbc95",
        "name": "Cambio ChatID para difusión por el canal",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "-1001612621169",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 640,
        "wires": [
            [
                "cc844b9c806fd32e"
            ]
        ]
    },
    {
        "id": "0a33b65408b06891",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "",
        "func": "var frec = msg.payload.content;\nvar user = msg.payload.from.username;\nmsg.payload={};\nmsg.payload.chatId=589861369;\nmsg.payload.content=\"Frecuencia FOTA Actualizada a  (\"+frec+\") por el usuario (\"+user+\").\\n\";\nmsg.payload.type = \"message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 960,
        "wires": [
            [
                "38283175e42822a0"
            ]
        ]
    },
    {
        "id": "38283175e42822a0",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e",
            "f8ea4540fa0aeffe"
        ],
        "x": 635,
        "y": 960,
        "wires": []
    },
    {
        "id": "459ef2b3b67f81f9",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "SUBIDO",
        "func": "msg.payload={};\nmsg.payload.content = \"La barrera se ha subido.\";\nmsg.payload.chatId=589861369;\nmsg.payload.type = \"message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "86799f5915a07852"
            ]
        ]
    },
    {
        "id": "e7562e62052dfa40",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "BAJADO",
        "func": "msg.payload={};\nmsg.payload.content = \"La barrera se ha bajado.\";\nmsg.payload.chatId=589861369;\nmsg.payload.type = \"message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 540,
        "wires": [
            [
                "86799f5915a07852"
            ]
        ]
    },
    {
        "id": "86799f5915a07852",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e",
            "f8ea4540fa0aeffe"
        ],
        "x": 875,
        "y": 480,
        "wires": []
    },
    {
        "id": "47bd5270819e5eba",
        "type": "link in",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "66a93283dc1150fb"
        ],
        "x": 1455,
        "y": 940,
        "wires": [
            [
                "117424b7d4604041"
            ]
        ]
    },
    {
        "id": "12968f2c0b74a0d7",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "DEFINIMOS COMO GLOBALES LAS VARIABLES DE MATRICULA Y FECHA DE LA ENTRADA QUE SE ACABA DE DAR  PARA MEJORAR SU PROCESAMIENTO Y VISUALIZACION",
        "info": "",
        "x": 1780,
        "y": 1020,
        "wires": []
    },
    {
        "id": "117424b7d4604041",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "",
        "func": "var matric = msg.payload.results[0].plate;\nvar fecha = new Date();\nglobal.set(\"Matricula\",matric);\nglobal.set(\"FechaEntrada\",fecha);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "f98a21238a194242",
        "type": "delay",
        "z": "33676dab1b5dbc95",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1600,
        "y": 800,
        "wires": [
            [
                "f9a37976ecf9585e"
            ]
        ]
    },
    {
        "id": "f9203c2e3b41eae7",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "Token bot: 5083378127:AAFdHZADPeMwtTiobMOhYrU3h-lHQhkHDWI",
        "info": "",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "77dd4779def526c8",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 880,
        "wires": []
    },
    {
        "id": "17e1c16e7a1086e9",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II7",
        "name": "Base de datos proyecto"
    },
    {
        "id": "aa0e08fb665711b4",
        "type": "telegram bot",
        "botname": "Proyecto_II7_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "7324406cf4d4e550",
        "type": "mqtt-broker",
        "name": "proyecto (iot.ac.uma.es)",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]