Node-Red/Telegram_II7.json
[
    {
        "id": "33676dab1b5dbc95",
        "type": "tab",
        "label": "II7--TELEGRAM",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d65b3c82c043d5e",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "f6b3805ec493b8d4",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hola soy el bot del grupo 7 de Informática Industrial. Puedo responderte a estos comandos:\\n/start\\n/ultregsensores\\n/ultentrada\\n/subirbarrera\\n/bajarbarrera\\n/regmatriculas\\n/plazasOcupadas\\n/plazasLibres\\n/temp_hum_Parking\\n/camara_ahora\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "d520dfcb2a99a0fe"
            ]
        ]
    },
    {
        "id": "b9cd46ba811ccbcf",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "ultima entrada",
        "func": "msg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "a4dd2d28c0e3ed42"
            ]
        ]
    },
    {
        "id": "a4dd2d28c0e3ed42",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "registro_matriculas_entrada",
        "operation": "find",
        "x": 680,
        "y": 360,
        "wires": [
            [
                "98ea08c40147b07e"
            ]
        ]
    },
    {
        "id": "98ea08c40147b07e",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "mensaje respuesta",
        "func": "var matri=msg.payload[0].matricula;\nvar fecha=msg.payload[0].date;\n\nmsg.payload=msg.mensaje;\n\nmsg.payload.content=\"La matrícula del último vehículo es: \"+matri+\"\\n\";\nmsg.payload.content+=\"Hora de llegada: \"+fecha.toLocaleString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "e31ac1db62f9f450",
                "7c695195afe7c280"
            ]
        ]
    },
    {
        "id": "d0cd6a4f2217197e",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/ultentrada",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "b9cd46ba811ccbcf"
            ],
            []
        ]
    },
    {
        "id": "aad8c56ff74d90d5",
        "type": "telegram receiver",
        "z": "33676dab1b5dbc95",
        "name": "",
        "bot": "aa0e08fb665711b4",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "2d65b3c82c043d5e",
                "f6b3805ec493b8d4"
            ],
            []
        ]
    },
    {
        "id": "e31ac1db62f9f450",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "cc844b9c806fd32e",
        "type": "telegram sender",
        "z": "33676dab1b5dbc95",
        "name": "Proyecto_II7_bot",
        "bot": "aa0e08fb665711b4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2010,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1e39752b0c2c7d43",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "f6b3805ec493b8d4"
            ],
            []
        ]
    },
    {
        "id": "ebddb3b510c808d3",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/subirbarrera",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 500,
        "wires": [
            [
                "8dd3b913771a2853"
            ],
            []
        ]
    },
    {
        "id": "b54cb3b717ca7e0c",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/bajarbarrera",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "1a5277f3749ad485"
            ],
            []
        ]
    },
    {
        "id": "7507b187fc11e5e9",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "-1001612621169",
        "info": "",
        "x": 120,
        "y": 920,
        "wires": []
    },
    {
        "id": "8da03c7bb0ec7913",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "MANDAR LA CAPTURA QUE SE LE MANDA AL RECONOCIMIENTO DE MATRICULAS POR TELEGRAM ESPECIF TIPO PHOTO, JUNTO CON LA HORA DE LLEGADA LA MATRÍCULA Y SI SE ENCUENTRA EN LA BASE DE DATOS",
        "info": "",
        "x": 760,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4cea0fad4f4daf71",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/regmatriculas",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 1320,
        "wires": [
            [
                "9723db2e4918dc28"
            ],
            []
        ]
    },
    {
        "id": "4c4f707d8086af30",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/plazasOcupadas",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "19ec4d6d4f8d2a8e"
            ],
            []
        ]
    },
    {
        "id": "c885a4729c0b8eb8",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/plazasLibres",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 720,
        "wires": [
            [
                "7c8b9f8ae80a330a"
            ],
            []
        ]
    },
    {
        "id": "8a5c34aaa94efa06",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/temp_hum_Parking",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "fc2172b025d8b00e"
            ],
            []
        ]
    },
    {
        "id": "4fc83e1d2378c2be",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/ultregsensores",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "e8d4b3737159d109"
            ],
            []
        ]
    },
    {
        "id": "ad587c3d99ca0122",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "aggregate",
        "x": 680,
        "y": 660,
        "wires": [
            [
                "781d0af347ad600d"
            ]
        ]
    },
    {
        "id": "6fd0b05180b10680",
        "type": "mqtt out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "topic": "II7/Entrada/BarreraCMD",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dbdec0508173add5",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "8dd3b913771a2853",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "SUBIR",
        "func": "msg.payload = {}\nmsg.payload.comando= \"subir\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 500,
        "wires": [
            [
                "6fd0b05180b10680"
            ]
        ]
    },
    {
        "id": "1a5277f3749ad485",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "BAJAR",
        "func": "msg.payload = {}\nmsg.payload.bajar = \"bajar\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "6fd0b05180b10680"
            ]
        ]
    },
    {
        "id": "30d3758ff71348bd",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "matriculas_validas",
        "operation": "find",
        "x": 710,
        "y": 1320,
        "wires": [
            [
                "24cda073c3bea387"
            ]
        ]
    },
    {
        "id": "9723db2e4918dc28",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Todos Registros",
        "func": "msg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1320,
        "wires": [
            [
                "30d3758ff71348bd"
            ]
        ]
    },
    {
        "id": "5c92d13ec9797d94",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "aggregate",
        "x": 680,
        "y": 720,
        "wires": [
            [
                "e81c930c2639f57a"
            ]
        ]
    },
    {
        "id": "19ec4d6d4f8d2a8e",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Ocupado == TRUE",
        "func": "//msg.payload={\"payload.ocupado\":\"true\"}; // ocupado:\"true\"\n//{ \"$match\": { \"$and\": [ { \"payload.date\": { \"$lt\": ahora, \"$gt\": fiveminsago } }, { \"payload.ocupado\": \"true\" } ] } }\nvar ms_per_min= 60000;\nvar now_ms= new Date().getTime();\nvar fiveminsago = new Date(now_ms - 5*ms_per_min);\nmsg.payload=\n[\n    { \"$match\": { \"$and\": [ { \"payload.date\": {\"$gt\" : fiveminsago} }, { \"payload.ocupado\": \"true\" } ] } },\n    { \"$group\": {\n        \"_id\": 0,\n        \"numPlazasOcupadas\": {\"$sum\":1}\n    }}\n];\nreturn msg;\n//msg.payload=[\n//    {\"$match\": { \"temperatura\": 19}},\n//    { \"$group\": {\n//        \"_id\": 0,\n//        \"NumPlazasOcupadas\": {\"$sum\":1}\n//    }}\n//];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 660,
        "wires": [
            [
                "ad587c3d99ca0122"
            ]
        ]
    },
    {
        "id": "7c8b9f8ae80a330a",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Ocupado == FALSE",
        "func": "//msg.payload={\"ocupado\":\"false\"}; //ocupado:\"false\" TAMBIEN SACAR EL NUMERO DE CADA PLAZA LIBRE AKA numPlaza\nvar ms_per_min= 60000;\nvar now_ms= new Date().getTime();\nvar fiveminsago = new Date(now_ms - 5*ms_per_min);\nmsg.payload=\n[\n    { \"$match\": { \"$and\": [ { \"payload.date\": {\"$gt\" : fiveminsago} }, { \"payload.ocupado\": \"false\" } ] } },\n    { \"$group\": {\n        \"_id\": 1,\n        \"numPlazasLibres\": {\"$sum\":1}\n    }}\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 720,
        "wires": [
            [
                "5c92d13ec9797d94"
            ]
        ]
    },
    {
        "id": "fc2172b025d8b00e",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "TEMP",
        "func": "//sacamos temperatura y humedad de todas las plazas y podemos hacer una media incluso\n\nvar ms_per_min= 60000;\nvar now_ms= new Date().getTime();\nvar fiveminsago = new Date(now_ms - 5*ms_per_min);\nmsg.payload=\n[\n    { \"$match\": { \"$and\": [ { \"payload.date\": {\"$gt\" : fiveminsago} }, { \"payload.ocupado\": \"false\" } ] } },\n    { \"$project\": {\n        \"temperatura\": \"$payload.temperatura\",\n        \"humedad\":\"$payload.humedad\"\n        }\n    },\n    { \"$group\": {\n        \"_id\": 1,\n        \"TempMedia\": {\"$avg\":\"$temperatura\"}, // HUMEDAD Y TEMPERATURA DEL PARKING AKA MEDIA DE TODAS LAS ULTIMAS MUESTRAS A 5 MIN ATRAS\n        \"HumMedia\": {\"$avg\":\"$humedad\"}, \n        \"datos\": {\"$sum\":1}\n    }}\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 800,
        "wires": [
            [
                "a74cc0d466f9e60e"
            ]
        ]
    },
    {
        "id": "a74cc0d466f9e60e",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "aggregate",
        "x": 660,
        "y": 800,
        "wires": [
            [
                "d5c108b6c3589205",
                "ba6e1bccc2e81604"
            ]
        ]
    },
    {
        "id": "e7c7f6fc7621b238",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "",
        "func": "var opts = {\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"10000\",\n                    \"callback_data\": \"10000\"            \n                },\n                {\n                    \"text\": \"15000\",\n                    \"callback_data\": \"15000\"            \n                },\n                {\n                    \"text\": \"20000\",\n                    \"callback_data\": \"20000\"            \n                },\n                {\n                    \"text\": \"30000\",\n                    \"callback_data\": \"30000\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = \"Elige entre las posibles Frecuencias:\";\nmsg.payload.options = opts;\nmsg.payload.chatId = 589861369;// -1001612621169;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 880,
        "wires": [
            [
                "d6fdd4c89c729d11"
            ]
        ]
    },
    {
        "id": "ac4ffdb40b451282",
        "type": "telegram event",
        "z": "33676dab1b5dbc95",
        "name": "",
        "bot": "aa0e08fb665711b4",
        "event": "callback_query",
        "autoanswer": false,
        "x": 160,
        "y": 980,
        "wires": [
            [
                "3ef8e49b919bf436",
                "60dc8372e00bda1b"
            ]
        ]
    },
    {
        "id": "3ef8e49b919bf436",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 920,
        "wires": []
    },
    {
        "id": "8ffd799cedee6056",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/frecFOTA",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 880,
        "wires": [
            [
                "e7c7f6fc7621b238"
            ],
            []
        ]
    },
    {
        "id": "f8ea4540fa0aeffe",
        "type": "link in",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "d520dfcb2a99a0fe",
            "7c695195afe7c280",
            "b439819f72be576c",
            "8be7614c8989949f",
            "55ab5e40de9ef43c",
            "14392bcb51d7c878",
            "1515d2fc60388ae0",
            "d6fdd4c89c729d11",
            "f89b61b25314a7d1"
        ],
        "x": 1835,
        "y": 540,
        "wires": [
            [
                "cc844b9c806fd32e"
            ]
        ]
    },
    {
        "id": "d520dfcb2a99a0fe",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe"
        ],
        "x": 815,
        "y": 240,
        "wires": []
    },
    {
        "id": "7c695195afe7c280",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe"
        ],
        "x": 1235,
        "y": 280,
        "wires": []
    },
    {
        "id": "b439819f72be576c",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe"
        ],
        "x": 1215,
        "y": 1320,
        "wires": []
    },
    {
        "id": "24cda073c3bea387",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Creamos mensaje",
        "func": "// SACAR TODAS LAS MATRICULAS ARCHIVADAS\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1320,
        "wires": [
            [
                "b439819f72be576c"
            ]
        ]
    },
    {
        "id": "781d0af347ad600d",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Creamos mensaje",
        "func": "var plazas = msg.payload[0].numPlazasOcupadas;\nmsg.payload.chatId=589861369;\nmsg.payload.content=\"El número de Plazas Ocupadas en el Parking es de  (\"+plazas+\") plazas.\\nComprobación realizada en el intervalo de los últimos 5 minutos.\\n\";\nmsg.payload.type = \"message\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 660,
        "wires": [
            [
                "8be7614c8989949f"
            ]
        ]
    },
    {
        "id": "e81c930c2639f57a",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Creamos mensaje",
        "func": "var plazas = msg.payload[0].numPlazasLibres;\nmsg.payload.chatId=589861369;\nmsg.payload.content=\"El número de Plazas Libres en el Parking es de  (\"+plazas+\") plazas.\\nComprobación realizada en el intervalo de los últimos 5 minutos.\\n\";\nmsg.payload.type = \"message\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "55ab5e40de9ef43c"
            ]
        ]
    },
    {
        "id": "d5c108b6c3589205",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Creamos mensaje",
        "func": "var temp = msg.payload[0].TempMedia;\nvar hum = msg.payload[0].HumMedia;\nmsg.payload.chatId=589861369;\nmsg.payload.content=\"La temperatura media en el Parking es de  (\"+temp+\"ºC) y una humedad relativa del (\"+hum+\"%) .\\nComprobación realizada en el intervalo de los últimos 5 minutos.\\n\";\nmsg.payload.type = \"message\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 800,
        "wires": [
            [
                "14392bcb51d7c878"
            ]
        ]
    },
    {
        "id": "8be7614c8989949f",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e",
            "f8ea4540fa0aeffe"
        ],
        "x": 1215,
        "y": 660,
        "wires": []
    },
    {
        "id": "55ab5e40de9ef43c",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e",
            "f8ea4540fa0aeffe"
        ],
        "x": 1215,
        "y": 720,
        "wires": []
    },
    {
        "id": "14392bcb51d7c878",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe"
        ],
        "x": 1215,
        "y": 800,
        "wires": []
    },
    {
        "id": "ba6e1bccc2e81604",
        "type": "debug",
        "z": "33676dab1b5dbc95",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "528e178dbbc3e92f",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "Mandamos al flow del dashboard para que publique en el topic  II7/+/config",
        "info": "",
        "x": 660,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e8d4b3737159d109",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "ultimo registro",
        "func": "msg.limit=1;\nmsg.sort={\"date\":-1};\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "7e522488dc2605fc"
            ]
        ]
    },
    {
        "id": "7e522488dc2605fc",
        "type": "mongodb in",
        "z": "33676dab1b5dbc95",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "registro_estado_plazas",
        "operation": "aggregate",
        "x": 660,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7866f0c7c0a27f5e",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "Cambio ChatID para difusión por el canal",
        "func": "msg.payload.chatId=-1001612621169;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 640,
        "wires": [
            [
                "cc844b9c806fd32e"
            ]
        ]
    },
    {
        "id": "1863d931dacb1b5e",
        "type": "link in",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "8be7614c8989949f",
            "55ab5e40de9ef43c",
            "f89b61b25314a7d1",
            "945f23299531eb2f"
        ],
        "x": 1495,
        "y": 640,
        "wires": [
            [
                "7866f0c7c0a27f5e"
            ]
        ]
    },
    {
        "id": "d6fdd4c89c729d11",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "f8ea4540fa0aeffe"
        ],
        "x": 495,
        "y": 880,
        "wires": []
    },
    {
        "id": "60dc8372e00bda1b",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [],
        "x": 355,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3173d00fdcb48669",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "FALTA HACER QUE SI SON DE LA MISMA PLAZA SE OBVIE ESE NUMERO PARA NO CONTARLO",
        "info": "",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "81cf186e826bfc81",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "SE DEBE SACAR TODO EL REGISTRO DE LAS MATRICULAS QUE HAN PASADO POR EL PARKING -- NO SE COMO HACERLO",
        "info": "",
        "x": 580,
        "y": 1240,
        "wires": []
    },
    {
        "id": "e3b3123c594d94ad",
        "type": "http request",
        "z": "33676dab1b5dbc95",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.127.108/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "8b8dba1ad38ef644",
                "0a939f53a8405d73"
            ]
        ]
    },
    {
        "id": "8b8dba1ad38ef644",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "",
        "func": "var pl = {\n  content: msg.payload,\n  caption: \"Foto tomada en la ultima entrada de vehículo\",\n  type : 'photo',\n  chatId: msg.originalMessage.chat.id,\n  chat: msg.originalMessage.chat,\n  from: msg.originalMessage.from,\n  message_id : msg.originalMessage.message_id\n}\n\nmsg.payload = pl;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1080,
        "wires": [
            [
                "f89b61b25314a7d1"
            ]
        ]
    },
    {
        "id": "f89b61b25314a7d1",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e",
            "f8ea4540fa0aeffe"
        ],
        "x": 1015,
        "y": 1080,
        "wires": []
    },
    {
        "id": "0ec0ac0abe359544",
        "type": "telegram command",
        "z": "33676dab1b5dbc95",
        "name": "",
        "command": "/camara_ahora",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "aa0e08fb665711b4",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 480,
        "y": 1080,
        "wires": [
            [
                "e3b3123c594d94ad"
            ],
            []
        ]
    },
    {
        "id": "51397c01a1fccf20",
        "type": "link in",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "0a939f53a8405d73"
        ],
        "x": 1475,
        "y": 780,
        "wires": [
            [
                "f9a37976ecf9585e"
            ]
        ]
    },
    {
        "id": "a52a67aa05202ab0",
        "type": "comment",
        "z": "33676dab1b5dbc95",
        "name": "ESTE LINK PROVIENE JUSTO DESPUES DEL NODO HTTP REQUEST DE LA CAMARA Y ENVÍA LA FOTO POR TELEGRAM CADA VEZ QUE LLEGA UN VEHÍCULO",
        "info": "",
        "x": 1900,
        "y": 860,
        "wires": []
    },
    {
        "id": "f9a37976ecf9585e",
        "type": "function",
        "z": "33676dab1b5dbc95",
        "name": "",
        "func": "var photo = msg.payload;\n\nmsg.payload = {};\nmsg.payload.content = photo;\nmsg.payload.type = \"photo\";\nmsg.payload.caption = \"Llegada de vehículo a la hora (METER FECHA).\\nMatrícula: (METER MATRICULA)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 780,
        "wires": [
            [
                "945f23299531eb2f"
            ]
        ]
    },
    {
        "id": "945f23299531eb2f",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "1863d931dacb1b5e"
        ],
        "x": 1735,
        "y": 780,
        "wires": []
    },
    {
        "id": "0a939f53a8405d73",
        "type": "link out",
        "z": "33676dab1b5dbc95",
        "name": "",
        "links": [
            "51397c01a1fccf20"
        ],
        "x": 795,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f605fa69.8f5008",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "connectOptions": "",
        "port": "27017",
        "db": "II7",
        "name": ""
    },
    {
        "id": "aa0e08fb665711b4",
        "type": "telegram bot",
        "botname": "Proyecto_II7_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "dbdec0508173add5",
        "type": "mqtt-broker",
        "name": "II7-UMA",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]